html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer {
    color: #FFFFFF;
    background-color: #333333;
    height: 13.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

main {
    height: 100%;
    display: flex;
}

main > div:first-child {
    width: 400px;
    background-color:#DDDDDD;
    padding: 20px 40px;
}

main > div:nth-child(2) {
    width: 100%;
    background-color:#EEEEEE;
    padding: 40px 100px 0px;
}

footer {
    height: 5.4vh;
    font-size: 1rem;
}

header span {
    content: url(./assets/todo-logo.svg);
}

header p {
    display: flex;
}

main > div:nth-child(1) ul li p {
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0px;
}

main > div:nth-child(1) li button, .add-task {
    width: 100%; 
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px;
    border-style: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #DDDDDD;
    cursor: pointer;
}

main > div:nth-child(1) button:hover, .add-task:hover {
    background-color: #CCCCCC;
}

main > div:nth-child(1) button:active, .add-task:active {
    font-weight: bolder;
}

ul span {
    width: 30px;
    height: 30px;
    content: url(./assets/menu.svg);
    padding: 0px 5px;
}

ul:nth-child(2) .add span {
    content: url(./assets/add.svg);
}

ul span:nth-child(2) {
    content: url(./assets/delete-icon.svg);
    margin-left: auto;
    opacity: 0;
}

ul:nth-child(2) button:hover span:nth-child(2) {
    opacity: 1;
}

.all-task span {
    content: url(./assets/inbox-arrow-down.svg);   
}

.today span {
    content: url(./assets/calendar-today.svg);   
}

.week span {
    content: url(./assets/calendar-week.svg);   
}

.important span {
    content: url(./assets/exclamation-thick.svg);   
}

.completed span {
    content: url(./assets/completed.svg);   
}

.task-list > p {
    font-size: 2.4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.task-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.task-list span:nth-of-type(1) {
    content: url(./assets/edit-icon.svg);
    width: 40px;
    height: 30px;
    margin-bottom: 5px;
}

.task-list span:nth-of-type(2) {
    content: url(./assets/delete-icon.svg);
    width: 40px;
    height: 30px;
}

.task-list li button {
    margin-left: auto;
}

.task-list li:hover {
    background-color: #CCCCCC;
}

.add-task {
    height: 50px;
    border-radius: 5px;
    background-color: #EEEEEE;
}

.task-list input[type=checkbox] {
    position: relative;
    appearance: none;
    border: 4px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.task-list input[type=checkbox]:checked::before {
    content: "✔";
    position: absolute;
    width: 20px;
    height: 30px;
    font-size: 1.3rem;
    left: 2.5px;
}


.task-list input[type=checkbox]:checked + p {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.project-dialog form div {
    display: flex;
    gap: 10px;
}

.project-dialog button {
    justify-content: center;
}

.project-dialog form {
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* align-items: ; */
    justify-content: center;
}

.project-dialog label, .project-dialog input {
    font-size: 1.2rem;
}

.add-task:hover > span {
    background-color: #CCCCCC;
}

.task-dialog {
    height: 700px;
    width: 500px;
    padding: 0px;
    background-color: #EEEEEE;
}

.task-dialog form > div > div{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px;
    /* justify-content: flex-start; */
    gap: 5px;
    font-size: 25px;
    background-color: #EEEEEE;
    /* height: auto; */
}

.task-dialog form > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.task-dialog form p {
    background-color: #333333;
    color: #FFFFFF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
}

.task-dialog input, .task-dialog select {
    height: 45px;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 0px 5px;
}

textarea {
    font-size: 20px;
    height: 100px;
}

.task-dialog div.task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.task-buttons button{
    width: 100px;
    font-size: 20px;
    padding: 5px 10px;
}

.project-dialog {
    height: 190px;
    width: 500px;
    padding: 0px;
    background-color: #EEEEEE;
}

.project-dialog form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-dialog p {
    background-color: #333333;
    color: #FFFFFF;
    /* font-weight: bold; */
    padding: 10px 20px;
    font-size: 1.5rem;;
}

.project-dialog form div {
    padding: 10px 20px 0px;
}

.project-dialog form div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.project-dialog form div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.project-dialog button {
    width: 80px;
}

.task-list > p {
    height: 40px;
    display: flex;
    align-items: center;
}